*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.landingpage {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 48px;
}
.personal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo span {
    font-family: 'Source Serif 4', serif;
    font-size: 42px;
    font-weight: 600;
}
.pagelinks a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
.container {
    padding: 48px 0;
}
.tagline {
    text-align: center;
    margin-bottom: 96px;

}
.tagline img {
    width: 100%;
    max-width: 1344px;
    height: auto;
    border-radius: 28px;
}
.tagline div {
    font-family: 'Roboto Serif', serif;
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
}
.collage {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 52px;
}
.rows {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.rows img {
    width: 413.33px;
    height: 275px;
    border-radius: 16px;
    object-fit: cover;
}
.rows div {
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
}
.getintouch {
    text-align: center;
    padding: 52px 0;
    
}
.getintouch heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    display: block;
}
.getintouch p {
    margin-bottom: 32px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
form input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form input[type="submit"] {
    width: auto;
    background-color:#D4A373;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 16px;
}
.footer {
    text-align: center;
    padding: 20px 0;
}
.footer .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1344px;
    margin: 0 auto;
}
.footer button {
    background-color: white;
    color: black;
    border: dotted;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
}
